* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;   
    min-height: 100vh;
}

.container {
    margin: auto;
    padding: auto;
    display: flex;
}

.search-box {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 2rem;
    display: flex;
    padding: 1rem;
    min-width: 50vw;
}

.search-input {
    min-width: 90%;
}

.search-input input {
    font-size: 2rem;
    min-width: 85%;
    background-color: transparent;
    border: none;
    outline: none; 
    
}
.search-btn {
  
    font-size: 2rem;
    
}
.search-btn:hover{
    cursor: pointer;
}